/* Variables */
:root {
    --background: #1f2430;
    --white: #cccac2;
    --blue: #299edc;
    --yellow: #ffc457;
    --green: #d5ff70;
}

@font-face {
    font-family: 'JetBrains Mono Backup';
    src: url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Regular.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/ttf/JetBrainsMono-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
}

* {
    font-feature-settings:"ss02", "cv14", "cv16", "cv20";
    -webkit-font-feature-settings:"ss02" on, "cv14" on, "cv16" on, "cv20" on;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: 'JetBrains Mono', 'JetBrains Mono Backup', 'Courier New', Courier, monospace;
}

body{
    background-color: var(--background);
    margin: 0;
    padding: 3%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
}
.info {
    color: var(--white);
    flex: 2;
}
.info a {
    color: var(--white);
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 0.05em;
}
.greeting h1 {
    font-size: 16vmin;
    margin: 0;
}
.about {
    padding: 2%;
    border: 0.3em dotted var(--blue);
    border-radius: 20px;
    margin: 1%;
}
.contact {
    padding: 2%;
    border: 0.3em dotted var(--green);
    border-radius: 20px;
    margin: 1%;
}
.projects {
    color: var(--white);
    flex: 1;
    justify-content: center;
    text-align: center;
    border: 0.3em dotted var(--yellow);
    border-radius: 20px;
    margin: 1%;
}

@media only screen and (max-width: 768px) {
    body {
        flex-direction: column;
    }
}
