/* Variables */
:root {
    --background: #1a1423;
    --white: #fff9fb;
    --blue: #4b88a2;
    --purple: #d8ddef;
    --green: #9CFC97;
}

body{
    background-color: var(--background);
    margin: 0;
    padding: 0;
    font-family: 'Exo 2';
    display: flex;
    flex-direction: row;
}
.greeting {
    padding: 5%;
    animation: slide-left ease-in-out 1s;
}
.greeting h1 {
    animation: fadeInBorder 2s ease-in 0.6s;
    color: var(--white);
    font-size: 16vmin;
    margin: 0;
    border-left-style: solid;
    border-left-width: 1vmin;
    border-left-color: var(--green);
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slide-left {
    from {
        margin-top: 0;
        margin-left: -100%;
        width: 100%; 
    }
  
    to {
        margin-top: 0;
        margin-left: 0%;
        width: 100%;
    }
}
@keyframes fadeInBorder {
    0% {
        border-left-color: transparent;
    }

    100% {
        border-left-color: var(--green);
    }
}