/* Variables */
:root {
    --background: #1f2430;
    --white: #cccac2;
    --blue: #4b88a2;
    --purple: #d8ddef;
    --green: #9CFC97;
}

@font-face {
    font-family: 'JetBrains Mono Backup';
    src: url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/webfonts/JetBrainsMono-Regular.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/fonts/ttf/JetBrainsMono-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
}

* {
    font-feature-settings:"ss02", "cv14", "cv16", "cv20";
    -webkit-font-feature-settings:"ss02" on, "cv14" on, "cv16" on, "cv20" on;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: 'JetBrains Mono', 'JetBrains Mono Backup', 'Courier New', Courier, monospace;
}

body{
    background-color: var(--background);
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
}
.greeting {
    color: var(--white);
    padding: 5%;
    padding-right: 0;
    flex: 2;
}
.greeting h1 {
    font-size: 16vmin;
    margin: 0;
}
.greeting a {
    color: var(--white);
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 0.05em;
}
.projects{
    color: var(--white);
    padding: 5%;
    padding-left: 0;
    flex: 1;
    justify-content: center;
    text-align: center;
}